:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color: white;
  background-color: #242424;
}

body{
  margin: 0;
  padding: 0;
}

.title {
  font-size: 2.7rem;
  font-weight: bolder;
  text-align: center;
}


.container {
  max-width: 1200px;
  margin: auto;
  
}

.grid {
  display: grid;
  justify-content: center; 
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  padding-bottom: 20px;
}

.btns {
  display: flex;
  justify-content: space-between;
}

.btn{
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  background: wheat;
  font-weight: bold;
  margin-bottom: 5px;
  cursor: pointer;
}

.btn:hover {
  background: white;
}

.character {
  background: #101010;
  text-align: center;
  border-radius: 5px;
}

.character img {
  border-radius: 5px 5px 0 0;
}